

body {
 padding: 0px;
 margin: 0px;

}
a {
  color: #850c3b;
}
h4 {
  margin: 25px;
  padding: 25px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px #000;

}

/***
 *    ███╗   ██╗█████╗██╗   ██╗
 *    ████╗  ████╔══████║   ██║
 *    ██╔██╗ ███████████║   ██║
 *    ██║╚██╗████╔══██╚██╗ ██╔╝
 *    ██║ ╚██████║  ██║╚████╔╝ 
 *    ╚═╝  ╚═══╚═╝  ╚═╝ ╚═══╝  
 *                             
 */
header {
  background: #ccc;
  color: #fff;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  border-bottom: #000 solid 1px;
}

.nameLogo {
  position: top;
  background: #850c3b;
  width: 300px;
  height: 100px;
  margin-left: 15%;
  text-shadow: 2px 1px #000;
}

h1 {
  padding: 25px; 
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h3{
  padding: 25px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px #000;
 }
 
#about {
 
  width: 120px;
  height: 50px;
  float: left;
  border-right: 1px solid #000;
  
 
 }
 #portfolio {
 
   width: 120px;
   height: 50px;
   float: left;
   border-right: 1px solid #000;
 }
 #contact {
   width: 120px;
   height: 50px;
   float: left;
 }
 .positioningNav {
   position: relative;
   left: 400px;
   top: -40px;
   width: 400px;
   height: 10px;
   }
 
/***
 *    ██╗██████╗██████╗███╗   █████████╗
 *    ████╔════██╔═══██████╗  ████╔════╝
 *    ████║    ██║   ████╔██╗ █████████╗
 *    ████║    ██║   ████║╚██╗██╚════██║
 *    ██╚██████╚██████╔██║ ╚███████████║
 *    ╚═╝╚═════╝╚═════╝╚═╝  ╚═══╚══════╝
*/
i{
  color: #850c3b;
  text-shadow: 1px 1px #000;
}
#skill1 {
  position: absolute;
  top: 0px;
  left: 1px;

  height: 500px;
}
#skill2 {
  position: absolute;
  top: 0px;
  left: 50px;

  height: 500px;
}
#skill3 {
  position: absolute;
  top: 50px;
  left: 1px;

  height: 500px;
}
#skill4 {
  position: absolute;
  top: 50px;
  left: 50px;
 
  height: 500px;
}

/***
 *     █████╗██████╗ ██████╗██╗   ██████████╗
 *    ██╔══████╔══████╔═══████║   ██╚══██╔══╝
 *    █████████████╔██║   ████║   ██║  ██║   
 *    ██╔══████╔══████║   ████║   ██║  ██║   
 *    ██║  ████████╔╚██████╔╚██████╔╝  ██║   
 *    ╚═╝  ╚═╚═════╝ ╚═════╝ ╚═════╝   ╚═╝   
 *                                           
 */
 .aboutMe {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px 10px 50px 50px;
  background-color:#fcfcfc;
  color: #5c5c5c;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #021a40;
  max-width: 700px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  
}

#nested {
  margin: 20px;
}
hr {
  margin: 0px 10px;
}

/***
 *    ██████╗ ██████╗██████╗████████╗
 *    ██╔══████╔═══████╔══██╚══██╔══╝
 *    ██████╔██║   ████████╔╝  ██║   
 *    ██╔═══╝██║   ████╔══██╗  ██║   
 *    ██║    ╚██████╔██║  ██║  ██║   
 *    ╚═╝     ╚═════╝╚═╝  ╚═╝  ╚═╝   
 *                                   
 */

 .portfolio {
  margin-top: 50px;
  margin-bottom: 50px; 
  margin-left: auto;
  margin-right: auto;
 
  background-color:#fcfcfc;
  color: #5c5c5c;
  font-weight: bold;
  max-width: 700px;
  font-family: 'Poppins', sans-serif;
  position: relative;

}

.column {
  float: left;
  width: 25%;
 
}
.content {
  background-color: white;
  padding: 10px;
}

/***
 *     ██████╗██████╗███╗   ██████████╗
 *    ██╔════██╔═══██████╗  ██╚══██╔══╝
 *    ██║    ██║   ████╔██╗ ██║  ██║   
 *    ██║    ██║   ████║╚██╗██║  ██║   
 *    ╚██████╚██████╔██║ ╚████║  ██║   
 *     ╚═════╝╚═════╝╚═╝  ╚═══╝  ╚═╝                                      
 */

 .contact {
  margin-top: 50px;
  margin-bottom: 50px; 
  margin-left: auto;
  margin-right: auto;
 
  background-color:#fcfcfc;
  color: #5c5c5c;
  font-weight: bold;
  max-width: 700px;
  font-family: 'Poppins', sans-serif;
  position: relative;

}

.styledContact{
  color: #850c3b
}

.submitButton {
  background: #850c3b;
  width: 100px;
  height: 40px;
 
  
}
h5 {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  padding: 10px 10px 10px 20px;
    color: #fff;
}